<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated TwoSML -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Twosml.twosml.presentation.TwosmlModelWizardID"
            name="%_UI_TwosmlModelWizard_label"
            class="Twosml.twosml.presentation.TwosmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TwosmlModelFile.gif">
         <description>%_UI_TwosmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated TwoSML -->
      <editor
            id="Twosml.twosml.presentation.TwosmlEditorID"
            name="%_UI_TwosmlEditor_label"
            icon="icons/full/obj16/TwosmlModelFile.gif"
            extensions="twosml"
            class="Twosml.twosml.presentation.TwosmlEditor"
            contributorClass="Twosml.twosml.presentation.TwosmlActionBarContributor">
      </editor>
   </extension>

</plugin>
